//项目提供scss全局变量
//定义项目主题颜色

//左侧的菜单的宽度
$base-menu-width:260px;
$base-min-menu-width:70px;
//左侧菜单的背景颜色
$base-menu-background:#001529;
$base-menu-min-width:50px;

//顶部导航的高度
$base-tabbar-height:50px;

//左侧菜单1ogo高度设置
$base-menu-1ogo-height:50px;

//左侧菜单logo右侧文字大小
$base-logo-title-fontSize:20px;
$base-logo-title-color:#fff;